/* Light mode styles */
body {
    background-color: #333;
    color: #f9f9f9;
    font-family: Arial, sans-serif;
}

h1 {
    color: #e4f8ff;
}

p {
    line-height: 1.6;
}

a {
    color: #ADD8E6;
}